# Unichain Mainnet
#
# Deploy command:
# source .env.production && forge create contracts/ConditionalTokens.sol:ConditionalTokens \
#   --rpc-url $RPC_URL \
#   --private-key $PRIVATE_KEY \
#   --verify \
#   --verifier etherscan \
#   --verifier-url $VERIFIER_URL \
#   --etherscan-api-key $ETHERSCAN_API_KEY \
#   --broadcast

PRIVATE_KEY=
RPC_URL=https://mainnet.unichain.org
ETHERSCAN_API_KEY=
VERIFIER_URL=https://api.etherscan.io/v2/api?chainid=130
